.container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.BoxMain{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.BoxImage {
    margin: 10px 10px 10px 10px;
  width: 300px;
  height: 210px;
  background-color: #fff;
  float: left;

  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.BoxImage:hover {
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -o-transform: scale(1.015);
  transform: scale(1.015);
}

.BoxImage .image{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}