.container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px 0px 0px 0px;
  display: flex;
  text-align: center;
}

.BoxMain{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.BoxImage {
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align:center;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.BoxImage:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.BoxImage .image{
  width: 300px;
  height: 200px;
  float:left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}