

.container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoxMain{
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  color:rgb(54, 54, 54);
}

.BoxImage {
  margin-top: 1px;
  width: 300px;
  height: 170px;
  background-color: #000;
  float: left;
  text-align:center;
  list-style-type: none; 
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  position: relative;
}

.BoxImage:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.BoxImage .image{
  width: 100%;
  height: 100%;
  float:left;

}

.BoxImage .infoImage{
  height: 30px;
  width: 290px;
  margin-top: 10px;
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.39);
  float:left;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  bottom:0px;
}

.BoxImage .infoImage p{
  color: black;
  margin:5px;
}